<h1>To Do List</h1>
<form action="/items" method="post">
  <label for="new-item">Car Make/Model:</label>
  <input id="new-item" name="new-item" type="text">
  <label for="new-miles">Car Millage:</label>
  <input id="new-miles" name="new-miles" type="text">
  <label for="new-price">Car Price:</label>
  <input id="new-price" name="new-price" type="text">
  <button type="submit">Submit</button>
</form>
